{
  "parser"  : "babel-eslint",
  "extends" : [
    "airbnb",
    "prettier"
  ],
  "plugins": [],
  "env": {
    "es6" : true,
    "browser" : true,
  },
  "globals" : {
    "API_URL": true
  },
  "rules": {
    "react/jsx-filename-extension": ["off"],
    "react/forbid-prop-types": ["off"],
    "react/require-default-props": ["off"],
  }
}
